<%- include ("includes/header", { "title": "Login" }) %>

<link rel="stylesheet" type="text/css" href="<%= request.mainURL %>/public/css/Login.css" />
        <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
            
    <body>
        <section class="container forms">
            <div class="form login">
                <div class="" style="text-align: center;">
                <%- include ("includes/ResponseAlert", {
                    "request": request
                }) %>
            </div>


                <div class="form-content">
                    <header>Login</header>
                    <form action="<%= request.mainURL %>/SendRecoveryLink" method="POST">
                        <div class="field input-field">
                            <input type="email" placeholder="Email" class="input" name="email" required />
                        </div>
                        

                        <div class="field button-field">
                            <button value = "Send Recovery Link">Send Recovery Link</button>
                        </div>
                    </form>
                </div>