 
 <%- include ("includes/header") %>
 <link rel="stylesheet" type="text/css" href="../public/css/index.css" />
 
 <div id="homeApp" style="margin-bottom: 80px;">
     <div class="custom-container" id="features">
         <div class="rowApp">
             <div class="cold12">
                 <h1>File Transfer Web App</h1>
                 <p>Node JS and Mongo DB</p>
             </div>
         </div>
 
         <div class="rowApp">
             <div class="card-container">
                 <div class="card">
                   <div class="card-header">
                    <img v-bind:src="mainURL + '/public/img/nodejs-icon.svg'" />
                   </div>
               
                   <div class="card-body">
                     <h2>Node JS</h2>
                     <p>Backend is developed in Node JS for efficient performance and realtime files editing.</p>
                   </div>
                 </div>
                 
                     <div class="card">
                         <div class="card-header">
                             <img v-bind:src="mainURL + '/public/img/mongodb-icon.svg'" />
                         </div>
     
                         <div class="card-body">
                             <h2>Mongo DB</h2>
                             <p>We are using Mongo DB as a database for flexible data schemes, change-friendly design, easy horizontal scale-out and high performance.</p>
                         </div>
                     </div>
     
                     <div class="card">
                         <div class="card-header">
                             <img v-bind:src="mainURL + '/public/img/expressjs.svg'" style="width: 100px;" />
                         </div>
     
                         <div class="card-body">
                             <h2>Express JS</h2>
                             <p>Express framework has been used for flexibility, non-blocking I/O operations, realtime communication and APIs.</p>
                         </div>
                     </div>
                     <div class="card">
                        <div class="card-header">
                            <img v-bind:src="mainURL + '/public/img/expressjs.svg'" style="width: 100px;" />
                        </div>
    
                        <div class="card-body">
                            <h2>Express JS</h2>
                            <p>Express framework has been used for flexibility, non-blocking I/O operations, realtime communication and APIs.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <img v-bind:src="mainURL + '/public/img/expressjs.svg'" style="width: 100px;" />
                        </div>
    
                        <div class="card-body">
                            <h2>Express JS</h2>
                            <p>Express framework has been used for flexibility, non-blocking I/O operations, realtime communication and APIs.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <img v-bind:src="mainURL + '/public/img/expressjs.svg'" style="width: 100px;" />
                        </div>
    
                        <div class="card-body">
                            <h2>Express JS</h2>
                            <p>Express framework has been used for flexibility, non-blocking I/O operations, realtime communication and APIs.</p>
                        </div>
                    </div>
             </div>            
         </div>
     </div>
 </div>
 
     <div class="container-fluid" id="cta">
         <div class="container">
             <div class="rowApp">
                 <div class="cold12">
                     <a href="" target="_blank" class="btn btn-success" style="margin-top: 30px;">
                         Contact us
                     </a>
                 </div>
             </div>
         </div>
     </div>
 </div>
 
 <script>
     const homeApp = Vue.createApp({
         data() {
             return {
                 mainURL: baseUrl,
             }
         }
     });
     homeApp.mount("#homeApp");
 </script>