<%- include ("includes/header", { "title": "Login" }) %>

<link rel="stylesheet" type="text/css" href="<%= request.mainURL %>/public/css/Login.css" />
        <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
            
    </head>
    <body>
        <section class="container forms">
            <div class="form login">
                <div class="" style="text-align: center;">
                <%- include ("includes/ResponseAlert", {
                    "request": request
                }) %>
            </div>
                <div class="form-content">
                    <header>Login</header>
                    <form action="<%= request.mainURL %>/Login" method="POST">
                        <div class="field input-field">
                            <input type="email" placeholder="Email" class="input" name="email" required />
                        </div>

                        <div class="field input-field">
                            <input type="password" placeholder="Password" name="password" class="password" required />
                            <i class='bx bx-hide eye-icon'></i>
                        </div>

                        <div class="form-link">
                            <a href="http://localhost:3000/ForgotPassword" class="forgot-pass">Forgot password?</a>
                        </div>

                        <div class="field button-field">
                            <button>Login</button>
                        </div>
                    </form>

                    <div class="form-link">
                        <span>Don't have an account? <a href="http://localhost:3000/Register" class="link signup-link">Registration</a></span>
                    </div>
                </div>

                <div class="line"></div>

                <div class="media-options">
                    <a href="#" class="field google">
                        <img src="#" alt="" class="google-img">
                        <span>Login with Google</span>
                    </a>
                </div>
            </div>
        </section>

        <!-- JavaScript -->
        <script >
      const forms = document.querySelector(".forms"),
      pwShowHide = document.querySelectorAll(".eye-icon"),
      links = document.querySelectorAll(".link");

        pwShowHide.forEach(eyeIcon => {
        eyeIcon.addEventListener("click", () => {
        let pwFields = eyeIcon.parentElement.parentElement.querySelectorAll(".password");
        
        pwFields.forEach(password => {
            if(password.type === "password"){
                password.type = "text";
                eyeIcon.classList.replace("bx-hide", "bx-show");
                return;
            }
            password.type = "password";
            eyeIcon.classList.replace("bx-show", "bx-hide");
        })
        
    })
})      
        </script>
    </body>
</html>