<%- include ("includes/header", {
   "title": "Register",
   "request": request
}) %>
  
<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" type="text/css" href="../public/css/Register.css" />

<body>
  <section class="container forms">
      <div class="form login">
          <div class="" style="text-align: center;">
          <%- include ("includes/ResponseAlert", {
              "request": request
          }) %>
      </div>
          <div class="form-content">
              <header>Registration</header>
              <form action="<%= request.mainURL %>/Register" method="POST" class="register-form">

                <div class="field input-field">
                  <input type="text" id="name" placeholder="Name" name="name" class="input" required />
              </div>
                
                  <div class="field input-field">
                      <input type="email" id="email" placeholder="Email" name="email" class="input" required />
                  </div>

                  <div class="field input-field">
                      <input type="password" id="password" placeholder="Password" name="password" class="password" required />
                      <i class='bx bx-hide eye-icon'></i>
                  </div>

                  <div class="field button-field">
                      <button input type="submit">Registration</button>
                  </div>
              </form>

              <div class="form-link">
                <span>Already have an account? <a href="http://localhost:3000/Login" class="link login-link">Login</a></span>
            </div>
          </div>

          <div class="line"></div>

          <div class="media-options">
            <a href="" class="field google">
                <img src="<%= request.mainURL %>/../public/img/icons8-google.svg" alt="" class="google-img">
                <span>Registration with Google</span>
            </a>
        </div>
      </div>
  </section>

  <!-- JavaScript -->
  <script >
const forms = document.querySelector(".forms"),
pwShowHide = document.querySelectorAll(".eye-icon"),
links = document.querySelectorAll(".link");

pwShowHide.forEach(eyeIcon => {
eyeIcon.addEventListener("click", () => {
  let pwFields = eyeIcon.parentElement.parentElement.querySelectorAll(".password");
  
  pwFields.forEach(password => {
      if(password.type === "password"){
          password.type = "text";
          eyeIcon.classList.replace("bx-hide", "bx-show");
          return;
      }
      password.type = "password";
      eyeIcon.classList.replace("bx-show", "bx-hide");
  })

})
})      
  </script>
</body>